.c1 {
    color: #fff;
    background-color: #000d0b;
    min-height: 40vh;
    background-image: url("../../images/footer.jpg");
    background-size: auto 100%;
    background-position:top;
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment: fixed;
}

.c2 {
    color: #fff;
    min-height: 45vh;
    background-color:#32000e;
}

.c3 {
    color:slategrey;
    min-height: 15vh;
    background-color: #25020d;
    
}

.c4 {
    box-sizing: border-box;
}