<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My meal</title>
    <style>
        html, body {
            padding: 0;
            border: 0;
            margin: 0;
        }

        body, form {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
        }
        input {
            width: 60vw;
            font-size: 1rem;
            color: blue;
            border: 1px solid black;
        }
    </style>
</head>
<body>

<h1>Enter ingredients</h1>
<form method="post" action="/matchwine/process">
    <input type="text" name="Meal or cuisine" placeholder="i.e. Steak, Salmon, Italian..." required autofocus>
    <input type="submit">
</form>

</body>
</html>