<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Wine Pairing</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/mcleod-reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="/css/mq-600-plus.css" media="(min-width: 600px)">
    <link rel="stylesheet" href="/css/mq-800-plus.css" media="(min-width: 800px)"> -->
</head>
<body>
  <header class="c1">
    <h1>Welcome to the Wine Pairing App</h1>
  </header>
<div class="c4">
<main class="c2">
  <div>
  <h2>This app will help you find the ideal wine for your meal. Fill in the form below to find your perfect wine.</h2>
  <h2>For example, try steak or mexican.</h2>
</div>
  <form method="post" action="/matchwine/process">
    <input type="text" name="Meal or cuisine" placeholder="Enter meal or cuisine type" required>
    <button>Go</button>
  </form>
</main>
<footer class="c3">
  <h4>Powered by Golang and the Spoonacular API</h4>
  <h4><span>Photo by <a href="https://unsplash.com/@roadtripwithraj?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Road Trip with Raj</a> on <a href="https://unsplash.com/s/photos/wine?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h4>
</footer>
</div>
<body>