<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Wine Pairing</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/mcleod-reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="/css/mq-600-plus.css" media="(min-width: 600px)">
    <link rel="stylesheet" href="/css/mq-800-plus.css" media="(min-width: 800px)"> -->
</head>
<body>
  <header class="c1">
    <h1>Here are your wines</h1>
  </header>
<main class="c2">
<h2>{{.PairingText}}</h2>
<h3>Suggested&nbspwine&nbsptypes:</h3>
<h2>{{range .PairedWines}}</h2>
<ul>{{.}}</ul>
{{end}}</h2>
<h3>Suggested&nbspbottles:</h3>
<h2>{{range .ProductMatches}}</h2>
<ul>{{.Title}}</ul>
{{end}}</h2>
</main>
<div class="c3">
<h2><span><a href="/matchwine">Find another wine</a></span></h2>
</div>
</body>
</html>